<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Falha de Ligação</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
  <header>
    <h1><a href="/">Googol</a></h1>
    <h2>Erro de Comunicação</h2>
  </header>

  <main>
    <div class="result-item">
      <h2>Ocorreu uma falha na ligação ao sistema.</h2>
      <p>Não foi possível contactar os servidores responsáveis pela pesquisa ou indexação.</p>
      <p>Por favor, tenta novamente mais tarde ou volta à <a href="/">página inicial</a>.</p>
    </div>
  </main>
</body>
</html>