<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Googol</title>
</head>
<body>
    <h1>Bem-vindo ao Googol!</h1>

    <h2>Adicionar URL para indexação</h2>
    <form id="form-url">
        <input type="text" id="url-input" placeholder="Insere o URL aqui" required>
        <button type="submit">Adicionar</button>
    </form> 

    <h2>Pesquisar termos</h2>
    <form id="form-search">
        <input type="text" id="search-input" placeholder="Insere os termos de pesquisa" required>
        <button type="submit">Pesquisar</button>
    </form>

    <h2>Consultar backlinks de um URL</h2>
    <form id="form-backlink">
        <input type="text" id="backlink-input" placeholder="Insere o url para consulta" required>
        <button type="submit">Pesquisar</button>
    </form>

</body>
</html>